---
permalink: /design-tokens/references/color/
parent: Token Types  and Reference Pages
layout: article.njk
title: Color
order: 10
---
{% include '../../_includes/tokens-table.njk' %}
{% from '../../_includes/tokens-table.njk' import tokensList, heading, preview %}


<h1>Color usage</h1>
<p>Color is a core element of the Vivid:Apps design system. This guide outlines the principles, patterns, and token structure that define how color is applied across components and experiences.</p>

<div class="core-colors">
	{{ heading('Core colors', '2') }}

	<vwc-note connotation="information">
		<p><b>Core color tokens</b> should only be used to construct semantic and pattern design tokens, never used directly in code.</p>
	</vwc-note>

	{{ heading('Brand palette', '3') }}
	<p>The brand palette includes the primary and accent colors, which are used to express the brand identity and create visual interest. These colors should be used sparingly to maintain their impact and ensure accessibility.</p>

	<div class="token-category">	
	{{ tokensList(tokens.color.primary, preview, 'Primary') }}
	{{ tokensList(tokens.color.accent, preview, 'Accent') }}
	</div>

	{{ heading('Neutral palette', '3') }}
	<p>The neutral palette provides a range of grays that can be used for backgrounds, surfaces, borders, and text. The neutral colors are designed to work harmoniously with the brand colors and provide a solid foundation for the overall color scheme.</p>
	<div class="token-category">
		{{ tokensList(tokens.color.neutral, preview, 'Neutral') }}
		{{ tokensList(tokens.color['neutral-tint'], preview, 'Neutral Tint') }}
	</div>

	{{ heading('Status palette', '3') }}
	<p>The status palette includes colors that are used to communicate meaning and provide feedback to users. These colors should be used consistently across the product to ensure clear communication and a cohesive user experience.</p>
	<div class="token-category">
		{{ tokensList(tokens.color['info'], preview, 'Info') }}
		{{ tokensList(tokens.color['success'], preview, 'Success') }}
		{{ tokensList(tokens.color['warning'], preview, 'Warning') }}
		{{ tokensList(tokens.color['danger'], preview, 'Danger') }}
	</div>
</div>

<style>
	.core-colors {
		container-type: inline-size;
	}

	.token-category {
  	display: grid;
		grid-template-columns: 1fr;
		gap: 16px;
		padding-block-start: 8px;
	}

	/* Switch to two columns when container ≥ 650px */
	@container (min-width: 650px) {
		.token-category {
			grid-template-columns: 1fr 1fr;
		}
	}
</style>
