---
layout: base.njk
tags: components
pagination:
    data: components
    size: 1
    alias: component
permalink: "components/{{ component.title | slug }}/"
---


{% renderCodeSnippets component.modules %}

  {% renderFile component.markdown %}

{% endrenderCodeSnippets %}
