---
layout: base.njk
tags: components
pagination:
    data: components
    size: 1
    alias: component
permalink: "components/{{ component.title | slug }}/"
---

{% for url in component.modules %}
<script type="module" src="{{ url | url }}"></script>
{% endfor %}


{% renderFile component.markdown %}
