---
layout: base.njk
tags: components
pagination:
    data: components
    size: 1
    alias: component
permalink: "components/{{ component.name | slug }}/"
---

{% for url in modules %}
<script type="module" src="/assets/modules/{{ url | url }}"></script>
{% endfor %}


{% renderFile component.markdown %}
