{% extends './page.njk' %}

{% block banner %}
	{% if (component.status == "alpha") %}
		<vwc-banner class="banner" text="ALPHA: If you need this component, please contact the Vivid team to co-ordinate acceptence testing" connotation="warning"></vwc-banner>
	{% endif %}
	{% if (component.status == "underlying") %}
		<vwc-banner class="banner" text="Underlying: this component is only used by other components and not intended to be used by authors outside the Vivid team" connotation="information"></vwc-banner>
	{% endif %}
{% endblock %}

{% block aside %}
	{% include '../_includes/toc.njk' %}
{% endblock %}

{% block content %}
	{{ content | safe }}
	<footer class="footer">
		<vwc-divider></vwc-divider>
		<a href="{{ component.markdown | githubEditLink }}"><vwc-icon name="edit-line"></vwc-icon> Edit this page on GitHub</a>
	</footer>
{% endblock %}
