{% extends './page.njk' %}


{% block banner %}
	{% if (component.status == "alpha") %}
		<vwc-banner class="banner" text="ALPHA: If you need this component, please contact the Vivid team to co-ordinate acceptence testing" connotation="warning"></vwc-banner>
	{% endif %}
	{% if (component.status == "underlying") %}
		<vwc-banner class="banner" text="Underlying: this component is only used by other components and not intended to be used by authors outside the Vivid team" connotation="information"></vwc-banner>
	{% endif %}
{% endblock %}

{% block aside %}
	{% include '../_includes/toc.njk' %}
{% endblock %}

{% block content %}
	{% if (component.page != 'legacy') %}
		<div class="components-header">
			<h1>{{ component.title }}</h1>
			<p>{{ component.description }}</p>
			<nav>
				<ul>
					<li><a href="/components/{{ component | componentSlug }}/" {% if ("/components/" + (component | componentSlug) + "/") == page.url %} aria-current="page" {% endif %}>Overview</a></li>
					<li><a href="/components/{{ component | componentSlug }}/guidelines/" {% if ("/components/" + (component | componentSlug) + "/guidelines/") == page.url %} aria-current="page" {% endif %}>Guidelines</a></li>
					<li><a href="/components/{{ component | componentSlug }}/code/" {% if ("/components/" + (component | componentSlug) + "/code/") == page.url %} aria-current="page" {% endif %}>Code</a></li>
					<li><a href="/components/{{ component | componentSlug }}/accessibility/" {% if ("/components/" + (component | componentSlug) + "/accessibility/") == page.url %} aria-current="page" {% endif %}>Accessibility</a></li>
					<li><a href="/components/{{ component | componentSlug }}/use-cases/" {% if ("/components/" + (component | componentSlug) + "/use-cases/") == page.url %} aria-current="page" {% endif %}>Use Cases</a></li>
				</ul>
			</nav>
		</div>
	{% endif %}

	{{ content | safe }}
{% endblock %}
