{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.base.json"
  },
	"env": {
		"browser": true,
		"node": true
	},
	"plugins": [
		"wc",
		"lit",
		"lit-a11y"
	],
	"extends": [
    "airbnb-base",
    "airbnb-typescript/base",
		"plugin:compat/recommended",
		"plugin:wc/recommended",
		"plugin:wc/best-practice",
		"plugin:lit/recommended",
		"plugin:lit-a11y/recommended",
    "prettier"
	],
	"settings": {
		"wc": {
			"elementBaseClasses": ["BaseElement", "LitElement", "FormElement"]
		}
  },
  "rules": {
    "indent": "off",
    "@typescript-eslint/indent": ["error", "tab"],
    "no-tabs": "off",
    "no-mixed-spaces-and-tabs": "off",
    "no-shadow": "error",
    "compat/compat": "error",
    "linebreak-style": ["error", "unix"],
    "semi": ["error", "always"],
    "import/extensions": ["error", "ignorePackages"],
    "import/prefer-default-export": "off",
    "class-methods-use-this": "off",
    "no-new": "warn",
    "quotes": ["error", "single", { "avoidEscape": true }],
    "no-var": "error",
    "no-floating-decimal": "error",
    "prefer-const": "error",
    "@typescript-eslint/explicit-member-accessibility": [
      "error",
      { "accessibility": "no-public" }
    ]
  }
}
