{
	"singleQuote": true,
	"trailingComma": "es5",
	"plugins": ["@prettier/plugin-oxc", "prettier-plugin-packagejson"],
	"overrides": [
		{
			"files": "**/*.md",
			"options": {
				"printWidth": 999999
			}
		}
	]
}
