# Add files here to ignore them from prettier formatting

/dist
/coverage

package-lock.json

# Not yet formatted file types:
**/*.js
**/*.mjs
**/*.cjs
**/*.ts
**/*.mts
**/*.cts
**/*.css
**/*.scss
**/*.md
