# Add files here to ignore them from prettier formatting

/dist
/coverage

package-lock.json

# Not yet formatted file types:
**/*.js
**/*.mjs
**/*.cjs
**/*.ts
**/*.mts
**/*.cts
!libs/components/src/**/*.js
!libs/components/src/**/*.mjs
!libs/components/src/**/*.cjs
!libs/components/src/**/*.ts
!libs/components/src/**/*.mts
!libs/components/src/**/*.cts
**/*.css
**/*.scss
**/*.vue
**/*.md
