body {
    color: var(--vvd-color-on-canvas);
    background-color: var(--vvd-color-canvas);
    display: grid;
    grid-template-columns: 250px auto;
    grid-auto-rows: 64px auto;
    grid-template-areas: "header header" "aside content";
    margin: 0;
    /*temporary typography until using vvid components*/
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    line-height: 1.4;
}

pre[class*="language-"] {
    margin: 0;
    border-radius: 0;
}

.site-header {
    grid-area: header;
    display: flex;
    align-items: center;
    padding: 0 2rem;
    background-color: var(--vvd-color-on-canvas);
    filter: var(--vvd-shadow-surface-4dp);
}

.logo {
    margin-right: auto;
}

.star-us {
    margin-right: 0.5rem;
}

.aside {
    background-color: var(--vvd-color-neutral-20);
    padding: 1rem;
}

.content {
    padding: 1rem 2rem;
    max-width: 1100px;
}



/*temp style for navigation*/
.aside a { color: var(--vvd-color-on-canvas);}
.aside a:visited { color: var(--vvd-color-on-canvas);}

.navigation {
    list-style: none;
    color: var(--vvd-color-on-canvas);
    padding-inline-start: 0;
}



