@use '../../sass/mixins/typography' as typography;

@use '../../sass/mixins/connotation/config' with (
	$subset: primary cta success alert announcement info,
	$shades: soft contrast,
	$default: primary,
);
@use '../../sass/mixins/connotation' as connotation;

@use '../../sass/mixins/appearance/config' as appearance-config with (
	$subset: filled outlined ghost,
	$default: ghost,
);
@use '../../sass/mixins/appearance' as appearance;

.control {
	@include connotation.connotation;
	@include appearance.appearance;
	display: inline-flex;
	box-sizing: border-box;
	align-items: center;
	border: 1px solid var(#{appearance.$appearance-color-outline});
	background-color: var(#{appearance.$appearance-color-fill});
	block-size: var(--size, 40px);
	color: var(#{appearance.$appearance-color-text});
	vertical-align: middle;
	column-gap: var(--column-gap, 8px);
	padding-inline: var(--button-padding-inline, 16px);
	border-radius: var(--button-border-radius, 6px);
	@include typography.typography-cat-shorthand('button');

	&.size-base-small {
		--size: 32px;
		--affix-font-size: 16px;
		--button-padding-inline: 12px;
		@include typography.typography-cat-shorthand('caption-bold');
	}

	&.size-base-large {
		--size: 48px;
		--affix-font-size: 24px;
		--button-padding-inline: 20px;
		column-gap: 10px;
		@include typography.typography-cat-shorthand('body-1-bold');
	}

	/* Shape */
	&.shape-pill {
		--button-border-radius: 14px;
		&.icon-only {
			--button-border-radius: 50%;
		}
	}

	&.stacked {
		--size: 68px;
		flex-direction: column;
		place-content: center;
		line-height: normal;
		row-gap: 8px;

		&.size-base-large {
			--size: 80px;
		}

		&.size-base-small {
			--size: 56px;
		}
	}

	/* Only Icon */
	&.icon-only {
		--button-padding-inline: 0;
		place-content: center;
		@supports (aspect-ratio: 1) {
			aspect-ratio: 1;
		}
		@supports not (aspect-ratio: 1) {
			inline-size: var(--size);
		}
	}


	&.disabled {
		color: var(--vvd-color-neutral-40);
		&.appearance-outlined {
			border-color: var(--vvd-color-neutral-30);
		}
		&.appearance-filled {
			color: var(--vvd-color-neutral-50);
			background-color: var(--vvd-color-neutral-30);
		}
	}
}

.affix {
	font-size: var(--affix-font-size, 20px);
	.icon-trailing & {
		order: 1;
	}
}
