@use '../../sass/mixins/typography' as typography;

@use '../../sass/mixins/connotation/config' with (
	$subset: primary cta success alert announcement info,
	$shades: diverse,
	$default: primary,
);
@use '../../sass/mixins/connotation' as connotation;

@use '../../sass/mixins/appearance/config' as appearance-config with (
	$subset: filled outlined ghost,
	$default: ghost,
);
@use '../../sass/mixins/appearance' as appearance;

:host {
	outline: 0 none;
}

.control {
	@include connotation.connotation;
	@include appearance.appearance;
	position: relative;
	display: inline-flex;
	box-sizing: border-box;
	align-items: center;
	border: 0 none;
	box-shadow: inset 0 0 0 1px var(#{appearance.$appearance-color-outline});
	background-color: var(#{appearance.$appearance-color-fill});
	block-size: var(--size);
	color: var(#{appearance.$appearance-color-text});
	vertical-align: middle;
	outline: 0 none;

	&[disabled] {
		color: var(--vvd-color-neutral-40);
		&.appearance-outlined {
			border-color: var(--vvd-color-neutral-30);
		}
		&.appearance-filled {
			color: var(--vvd-color-neutral-50);
			background-color: var(--vvd-color-neutral-30);
		}
	}

	&.icon-only {
		place-content: center;
		padding-inline: 0;
		@supports (aspect-ratio: 1) {
			aspect-ratio: 1;
		}
		@supports not (aspect-ratio: 1) {
			inline-size: var(--size);
		}
	}


	&:not(:focus):not(:focus:not(:focus-visible)):not(:focus-visible) {
		> .focus {
			display: none;
		}
	}
}

/* Size */

.control:not(.size-base-small):not(.size-base-large) {
	--size: 40px;
	@include typography.typography-cat-shorthand('button');
	block-size: var(--size);

	&:not(.icon-only) {
		// column-gap: 8px;
		padding-inline: 16px;
	}

	.affix {
		font-size: 20px;
	}
}

.control.size-base-small {
	--size: 32px;
	@include typography.typography-cat-shorthand('caption-bold');

	&:not(.icon-only) {
		// column-gap: 8px;
		padding-inline: 12px;
	}

	.affix {
		font-size: 16px;
	}
}

.control.size-base-large {
	--size: 48px;
	@include typography.typography-cat-shorthand('body-1-bold');

	&:not(.icon-only) {
		// column-gap: 10px;
		padding-inline: 20px;
	}

	.affix {
		font-size: 24px;
	}
}

/* Shape */

.control:not(.shape-pill) {
	border-radius: 6px;
}
.control.shape-pill {
	border-radius: 14px;
	&.icon-only {
		border-radius: 50%;
	}
}

/* Icon */

.affix {
	.control.icon-trailing & {
		order: 1;
	}
}

