@use '../../sass/mixins/typography' as typography;

@use '../../sass/mixins/connotation/config' with (
	$subset: primary cta success alert announcement info,
	$shades: soft contrast,
	$default: primary,
);
@use '../../sass/mixins/connotation' as connotation;

@use '../../sass/mixins/appearance/config' as appearance-config with (
	$subset: filled outlined ghost,
	$default: ghost,
);
@use '../../sass/mixins/appearance' as appearance;

.control {
	@include connotation.connotation;
	@include appearance.appearance;
	display: inline-flex;
	box-sizing: border-box;
	align-items: center;
	border: 1px solid var(#{appearance.$appearance-color-outline});
	background-color: var(#{appearance.$appearance-color-fill});
	color: var(#{appearance.$appearance-color-text});
	column-gap: 8px;
	letter-spacing: 0;
	text-decoration: none;
	text-transform: none;
	vertical-align: middle;
}

/* Size */

.control:not(.size-small):not(.size-large) {
	@include typography.typography-cat-shorthand('button');
	block-size: 40px;
	padding-inline: 10px;
}

.control.size-small {
	@include typography.typography-cat-shorthand('caption-bold');
	block-size: 32px;
	padding-inline: 8px;
}

.control.size-large {
	@include typography.typography-cat-shorthand('body-1-bold');
	block-size: 48px;
	padding-inline: 12px;
}

/* Shape */

.control:not(.shape-pill) {
	border-radius: 6px;
}
.control.shape-pill {
	border-radius: 14px;
}

/* Icon */

.control.icon-trailing .affix {
	order: 1;
}

