@use '../../../tokens/build/scss/consts/consts';
@use 'config' as config;


$vvd-color-connotation: --connotation;
$vvd-color-on-connotation: --on-connotation;

$compound-placeholder: '[compound]'; // will be replaced by actual compound

$connotation-mapping: (
	// should map to colors e.g. purple-60
	primary: (
		contrast: consts.$vvd-color-primary,
		diverse: consts.$vvd-color-primary,
		soft: consts.$vvd-color-neutral-20,
	),
	cta: (
		contrast: consts.$vvd-color-cta-90,
		diverse: consts.$vvd-color-cta-70,
		soft: consts.$vvd-color-cta-20,
	),
	success: (
		contrast: consts.$vvd-color-success-90,
		diverse: consts.$vvd-color-success-70,
		soft: consts.$vvd-color-success-20,
	),
	alert: (
		contrast: consts.$vvd-color-alert-90,
		diverse: consts.$vvd-color-alert-70,
		soft: consts.$vvd-color-alert-20,
	),
	warning: (
		contrast: consts.$vvd-color-warning-90,
		diverse: consts.$vvd-color-warning-70,
		soft: consts.$vvd-color-warning-20,
	),
	info: (
		contrast: consts.$vvd-color-info-90,
		diverse: consts.$vvd-color-info-70,
		soft: consts.$vvd-color-info-20,
	),
	announcement: (
		contrast: consts.$vvd-color-announcement-90,
		diverse: consts.$vvd-color-announcement-70,
		soft: consts.$vvd-color-announcement-20,
	),
);

$connotation-mapping-decoratives: (
	pacific: (
		start: var(#{consts.$vvd-color-info-30}),
		end: var(#{consts.$vvd-color-cta-70})
	),
);
