---
permalink: /foundations/typography/
parent: Foundations
title: Typography
order: 30
---
{% include '../_includes/tokens-table-new.njk' %}
{% from '../_includes/tokens-table-new.njk' import heading, typescaleTable %}

<h1>Typography</h1>
<p>Typography is how Vivid:Apps communicates through text. It creates hierarchy, improves readability, reinforces brand expression, and helps interfaces feel consistent across products.</p>
<p>In Vivid:Apps, typography is defined through <b>design tokens</b>, applied through <b>semantic text styles</b>, and implemented consistently across design and code.</p>

{{ heading('Best practices', '2') }}
{{ heading('Prioritise readability', '3') }}
<p>Choose typography that remains legible, easy to scan, and accessible across devices and visual needs. Readability depends not just on size, but also on weight, line height, spacing, contrast, and line length working together to create clear, comfortable text.</p>

{{ heading('Build a clear hierarchy', '3') }}
<p>Typography should create clear hierarchy, helping users quickly understand what matters most, what belongs together, and where to focus next. This is achieved through thoughtful use of size, weight, spacing, rhythm, and semantic structure - making hierarchy feel obvious without feeling heavy.</p>

{{ heading('Use semantic styles', '3') }}
<p>Choose typography based on its purpose - such as display, heading, body, or caption - rather than arbitrary visual styling.</p>
<p>Semantic text styles create consistency, scale more effectively, and map cleanly to design tokens and components.</p>

{{ heading('Design for accessibility', '3') }}
<p>Typography is a key accessibility foundation and should support browser zoom, user scaling preferences, sufficient contrast, readable spacing, proper heading structure, and avoid overly small text sizes.</p>

{{ heading('Typographic styles', '2') }}
{{ heading('Overview', '3') }}
<p>Typography design tokens use <code>rem</code> units to support a more <a href="https://www.w3.org/WAI/WCAG22/Understanding/resize-text.html">accessible</a> browser zoom experience. Line-height values are unitless and tailored to each text style, ensuring consistent alignment to a 4px grid.</p>
<p>Each typography style is intentionally defined through "shorthand" tokens, combining font size, family, weight, and line height into a single CSS <code>font</code> declaration for simple and consistent implementation.</p>

{{ heading('Typeface', '3') }}
<p>Vivid:Apps uses a typography stack optimised for clarity, performance, international language support, and cross-platform consistency</p>
<p>Our primary typeface is <a href="https://luzi-type.ch/spezia">Spezia</a>.</p>
<img src="/assets/images/spezia.png" alt="" style="display: inline-block; max-height: 50px;float: right" />
<div style="max-width: 400px;">
  {{ heading('Primary typeface', '4') }}
  <p><b>Spezia</b> is used for UI text, headings, labels, forms, navigation, and messaging and should be the default type choice in product experiences.</p>
</div>
<img src="/assets/images/spezia-mono.png" alt="Spezia mono typeface" style="display: block; max-height: 50px; float: right;" />
<div style="max-width: 400px;">
  {{ heading('Monospace typeface', '4') }}
  <p><b>Spezia mono</b> is used for code, inline code snippets, keyboard commands, tokens / technical identifiers.</p>
</div>

{{ heading('Typescale', '3') }}

{{ heading('Heading', '4') }}
<p>Headings come in a range of sizes for different contexts:</p>
<ul>
  <li><strong>2xl</strong> and <strong>xl</strong> are suitable for dashboard metrics, hero / high emphasis content.</li>
  <li><strong>xl</strong> and <strong>lg</strong> are suitable for page titles.</li>
  <li><strong>md</strong> can be used in large components where space is not limited and perfectly balances with Body M, such as modals.</li>
  <li><strong>sm</strong> and <strong>xs</strong> are for titles in small components where space is limited, such as flags.</li>
  <li><strong>xs</strong> is suitable for lower level titles and when matched with Body sm, for example, in fine print.</li>
</ul>
{{ typescaleTable(tokens.text.heading) }}

{{ heading('Body', '4') }}
<p>Used for paragraphs, sentences, and most text-based communication.</p>
{{ typescaleTable(tokens.text.body) }}

{{ heading('Code', '4') }}
<p>Used for inline code snippets, preformatted text, and technical identifiers such as tokens or keyboard commands.</p>
{{ typescaleTable(tokens.text.code) }}
