docs-search input:focus-visible,
docs-search button:focus-visible {
	border-radius: 2px;
	outline: 2px solid var(--vvd-color-canvas-text);
}

docs-search input::placeholder {
	color: var(--vvd-color-neutral-600) !important;
	opacity: unset !important;
}
