import type { Page } from '@playwright/test';
import { test } from '@playwright/test';
import {
	loadComponents,
	loadTemplate,
	takeScreenshot
} from '../../visual-tests/visual-tests-utils.js';

const components = ['{{ name }}'];

test('should show the component', async ({ page }: { page: Page }) => {
	await loadComponents({
		page,
		components,
	});

	await loadTemplate({
		page,
		template: `
			<div style="margin: 5px">
				<{{ name }}></{{ name }}>
			</div>
		`,
	});

	await takeScreenshot(page, '{{ name }}');
});
