import React from 'react'
import <% component-class-name %> from '../../../dist/<% component-class-name %>'

export const Default = () => <<% component-class-name %> />
export default {
  title: 'V2/<% component-class-name %>',
  argTypes: {
      //
      // Example values
      // numberValue: { control: 'number', defaultValue: 123 },
      // booleanValue: { control: 'boolean', defaultValue: true },
      // objectValue: { control: 'object', defaultValue: {} },
      // stringValue: { control: 'string', defaultValue: 'string' },
      // colorValue: { control: 'color' },
      // dateValue: { control: 'date' }
      //
    }
}
