.color_connotation {
  --layout-grid-template-columns: 270px repeat(7, 100px);
}
.color_primary {
  --layout-grid-template-columns: 270px repeat(2, 100px);
}
.color_neutral {
  --layout-grid-template-columns: 270px repeat(11, 100px);
}

.color_wrapper {
  font-size: 0.75rem;
  text-align: center;
}

.color_rec {
  height: 3rem;
}