#iconsTextField {
    display: flex;
}

#iconsLayout {
    --layout-column-gap: 0; 
    --layout-row-gap: 0;
}

#iconDiv {
    background-color: var(--vvd-color-neutral-50);
    cursor: pointer;
    border-radius: 6px;
       aspect-ratio: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    vertical-align: middle;
    padding: 16px;
    position: relative;

    &:hover{
        background-color: var(--vvd-color-neutral-100);
    }
}

#iconSpan{
    padding: 16px;
}

#nameSpan{
    text-align: center;
}

#showMoreButton{
    margin-inline-start: 46%;
}

article p{
    max-inline-size: 1200px;
}

#copyAlert {
    --alert-min-inline-size: auto;
}

.tagWrapper {
    display: flex;
}

.tagGroup {
        margin-inline-end: 16px;
    margin-block: 16px;
}
