
/* delete this css block when this #782 is resolved */
:root {
	--vvd-size-density: -1;
	/* considering this to be our default font base */
	/* proposing this as default token. scaling down typography from 0 can result in a bad experience so we range from 0 - 1 */
	--vvd-size-font-scale-base: calc(16px + clamp(0, var(--vvd-size-density), 1) * 1px * 0.8333);
}

/* #region reset */
h1, h2, h3, h4, h5, h6, p {
  margin: unset;
}

strong {
  font-weight: unset;
}
/* #endregion reset */

body {
  margin: 0;
}

body::before {
  position: fixed;
  inset: 0;
  content: '';
  background-color: inherit;
  background-image: linear-gradient(45deg, var(--vvd-color-neutral-50) 25%,transparent 25%),linear-gradient(135deg, var(--vvd-color-neutral-50) 25%, transparent 25%), linear-gradient(45deg, transparent 75%, var(--vvd-color-neutral-50) 75%), linear-gradient(135deg, transparent 75%, var(--vvd-color-neutral-50) 75%);
  background-size: 20px 20px;
  background-position: 0px 0px, 10px 0px, 10px -10px, 0px 10px;
  opacity: 0.5;
  z-index: -1;
}

.center {
  display: flex;
  place-items: center;
  place-content: center;
  block-size: 100%;
}
