/* #region reset */
h1, h2, h3, h4, h5, h6, p {
  margin: unset;
}

strong {
  font-weight: unset;
}
/* #endregion reset */

body {
  color: var(--vvd-color-on-canvas);
  background-color: var(--vvd-color-canvas);
  margin: 20px;
}

.demo-gradient{
  background-image: linear-gradient(to right, var(--vvd-color-info-30), var(--vvd-color-cta-30));
  padding: 1rem;
  margin-top: 2rem;
}
.demo-gradient.tight{
  padding: 0.2rem;
}
