body {
  color: var(--vvd-color-on-canvas);
  background-color: var(--vvd-color-canvas);
  margin: 0;
}

:not(:defined) {
  display: none;
}

pre[class*="language-"] {
    margin: 0;
    border-radius: 0;
}

vwc-side-drawer {
  display: block;
  width: 100%;
}

:not(:defined) {
  display: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin: unset;
}

table {
  width: 100%;
  min-width: min-content;
  border-collapse: collapse;
}
table tr {
  border-bottom: 1px solid var(--table-border-color, var(--vvd-color-on-primary));
  block-size: 44px;
}
table th,
table td {
  padding: 12px 16px;
  text-align: start;
}
table thead tr {
  --table-border-color: var(--vvd-color-neutral-90);
}
table tbody tr {
  --table-border-color: var(--vvd-color-neutral-40);
}
code {
  font-size: 1rem;
  background-color: var(--vvd-color-neutral-10);
  color: #bb3700;
  padding: 3px 4px;
  border-radius: 6px;
}
/*side navigation*/
.navigation {
  list-style: none;
  padding: 0;
  margin: 0;
}
.navigation p {
  color: var(--vvd-color-neutral-70);
}
.navigation p a,
.navigation p a:hover,
.navigation p a:active{
  color: var(--vvd-color-neutral-90);
}

