@forward 'highlight.js/styles/github.css';
@forward '../../../../dist/libs/styles/core/all.css';
@forward 'reset';
@forward './welcome';
@forward './footer';
@forward './component-page';

/* stylelint-disable */
@font-face {
	font-family: SpeziaCompleteVariableUpright;
	font-stretch: 50% 200%;
	font-display: block;
	font-weight: 1 1000;
	src: url('../fonts/SpeziaCompleteVariableUprightWeb.woff2') format('woff2');
}

@font-face {
	font-family: SpeziaMonoCompleteVariable;
	font-stretch: 50% 200%;
	font-display: block;
	font-weight: 1 1000;
	src: url('../fonts/SpeziaMonoCompleteVariableWeb.woff2') format('woff2');
}

.vvd-root {
	--vvd-typography-headline: 500 condensed
		calc(var(--vvd-size-font-scale-base, 16px) * 4.125) / 1.3333333333333333
		SpeziaCompleteVariableUpright;
	--vvd-typography-subtitle: 500 condensed
		calc(var(--vvd-size-font-scale-base, 16px) * 3.25) / 1.3076923076923077
		SpeziaCompleteVariableUpright;
	--vvd-typography-heading-1: 500 condensed
		calc(var(--vvd-size-font-scale-base, 16px) * 2.5) / 1.3
		SpeziaCompleteVariableUpright;
	--vvd-typography-heading-2: 500 condensed
		calc(var(--vvd-size-font-scale-base, 16px) * 2) / 1.375
		SpeziaCompleteVariableUpright;
	--vvd-typography-heading-3: 500 condensed
		calc(var(--vvd-size-font-scale-base, 16px) * 1.625) / 1.3846153846153846
		SpeziaCompleteVariableUpright;
	--vvd-typography-heading-4: 500 condensed
		calc(var(--vvd-size-font-scale-base, 16px) * 1.25) / 1.4
		SpeziaCompleteVariableUpright;
	--vvd-typography-base: 400 ultra-condensed
		calc(var(--vvd-size-font-scale-base, 16px) * 0.875) / 1.4285714285714286
		SpeziaCompleteVariableUpright;
	--vvd-typography-base-bold: 600 ultra-condensed
		calc(var(--vvd-size-font-scale-base, 16px) * 0.875) / 1.4285714285714286
		SpeziaCompleteVariableUpright;
	--vvd-typography-base-code: 400 ultra-condensed
		calc(var(--vvd-size-font-scale-base, 16px) * 0.875) / 1.4285714285714286
		SpeziaMonoCompleteVariable;
	--vvd-typography-base-condensed: 400 ultra-condensed
		calc(var(--vvd-size-font-scale-base, 16px) * 0.75) / 1.3333333333333333
		SpeziaCompleteVariableUpright;
	--vvd-typography-base-condensed-bold: 600 ultra-condensed
		calc(var(--vvd-size-font-scale-base, 16px) * 0.75) / 1.3333333333333333
		SpeziaCompleteVariableUpright;
	--vvd-typography-base-extended: 400 ultra-condensed
		calc(var(--vvd-size-font-scale-base, 16px)) / 1.5
		SpeziaCompleteVariableUpright;
	--vvd-typography-base-extended-bold: 600 ultra-condensed
		calc(var(--vvd-size-font-scale-base, 16px)) / 1.5
		SpeziaCompleteVariableUpright;
}
/* stylelint-enable */

/* #region document */

html {
	scroll-padding-top: var(--vvd-header-block-size, 64px);
}

code {
	padding: 0 6px;
	border-radius: 4px;
	background-color: var(--vvd-color-neutral-50);
	tab-size: 4;
}

a {
	color: var(--vvd-color-cta-600);
}

a:hover {
	color: var(--vvd-color-cta-700);
}
a:visited {
	color: var(--vvd-color-information-600);
}
a:active {
	color: var(--vvd-color-cta-800);
}
a:focus-visible {
	border-radius: 2px;
	outline: 1px solid var(--vvd-color-cta-600);
	box-shadow: 0 0 0 6px color-mix(in srgb, var(--vvd-color-cta-600), transparent 88%);
}
a:visited:hover {
	color: var(--vvd-color-information-700);
}
a:active:visited {
	color: var(--vvd-color-information-800);
}

img {
	block-size: auto;
	inline-size: auto;
	max-inline-size: 100%;
}

/* #endregion document */

/* #region side drawer */

vwc-side-drawer:not(:defined) {
	display: none;
}

vwc-side-drawer[open] {
	--header-inset-inline-start: var(--side-drawer-app-content-offset);
}

vwc-side-drawer:not([open]) {
	--header-inset-inline-start: 0;
}

vwc-side-drawer::part(base) {
	box-sizing: border-box;
	background-color: var(--vvd-color-neutral-50);
	inline-size: 280px;
	inset-block: calc(var(--vvd-header-block-size) + env(safe-area-inset-top))
		env(safe-area-inset-bottom);
}

@supports (overscroll-behavior: none) {
	vwc-side-drawer::part(base) {
		overscroll-behavior: none;
	}
}

vwc-side-drawer > main {
	position: relative;

	/* prevents banner from topping the stacking context in a modal side-drawer open state  */
	z-index: 0;
	margin-top: var(--vvd-header-block-size);
	max-inline-size: 1200px;
}

/* #endregion side drawer */

/* #region header */

vwc-header {
	--header-bg-color: var(--vvd-color-neutral-800);
}

vwc-header::part(base) {
	position: fixed;
	z-index: 2;
	top: 0;
	inline-size: 100%;
	inset-inline: var(--header-inset-inline-start) 0;
}

.header-content-wrapper {
	display: flex;
	align-items: center;
	gap: 8px;
}

.header-content-wrapper > * {
	flex-shrink: 0;
}

.menu-button {
	margin-inline-end: 8px;
}

.logo-wrapper {
	display: flex;
	align-items: center;
	column-gap: 8px;
	font: var(--vvd-typography-base-extended-bold);
	text-decoration: none;
}

.logo-wrapper .text {
	color: var(--vvd-color-neutral-800);
}

vwc-nav-item > vwc-badge {
	margin-inline-start: auto;
}

/* #endregion header */

/* #region page */

.page {
	display: flex;
	flex-direction: row-reverse;
	align-items: flex-start;
	justify-content: center;
	margin: auto;
	gap: 32px;
	max-inline-size: 1024px;
	padding-inline: 32px;
}

@media (width >= 1280px) {
	.page {
		gap: 64px;
	}
}

/* #endregion page */

/* #region article */

article h2,
article h3,
article h4 {
	max-inline-size: 80ch;
	word-wrap: balance;
}

vwc-note > p {
	margin-block: 0 !important;
}

.article p {
	max-inline-size: 65ch;
	word-wrap: pretty;
}

.article ul {
	padding-inline-start: 1.5rem;
}

.article li {
	max-inline-size: 60ch;
	word-wrap: pretty;
}

article > pre,
article > .cbd-container {
	box-sizing: border-box;
	margin-block: 12px;
	max-inline-size: calc(100vw - 32px);
}

@media (width >= 1200px) {
	article > pre,
	article > .cbd-container {
		max-inline-size: 1000px;
	}
}

article.article > h1 {
	display: flex;
	flex-direction: column;
	justify-content: start;
	color: var(--vvd-color-neutral-800);
	font-weight: 600;
	text-align: left;
	word-wrap: balance;
}

.article h3 {
	margin-block-end: 16px;
}

.article:has(.components-header) .heading-wrapper.h3 {
	margin-block-start: -32px;
	padding-block-start: 32px;
}

.article:has(.components-header) .heading-wrapper.h2 + .heading-wrapper.h3 {
	margin-block-start: -60px;
}

p:empty {
	margin: 0;
}

vwc-note p:first-child {
	margin-block-start: 0;
}

vwc-note p:last-child {
	margin-block-end: 0;
}

.heading-wrapper > h2 {
	border-block-end: 1px solid var(--vvd-color-neutral-200);
	margin-block: 72px 32px;
	text-align: left;
}

article.article > h1 + p,
p.lede {
	font-size: 18px;
	margin-block-end: 24px;
	max-inline-size: 55ch;
}

.heading-wrapper:first-of-type h2 {
	margin-block-start: 36px;
}

article.article > h1 + .heading-wrapper h2,
article.article > h1 + p + .heading-wrapper h2 {
	margin-block-start: 0;
}

.article:has(.components-header) .heading-wrapper > h2 {
	margin-block-start: 20px;
	padding-block-start: 52px;
}

article.article .components-header + .heading-wrapper h2 {
	margin-block-start: 0;
}

.heading-wrapper > .anchor {
	position: absolute;
	color: var(--vvd-color-neutral-600);
	inset: 50% auto auto 0;
	transform: translateY(-50%);
}

.heading-wrapper:not(:hover) > .anchor {
	display: none;
}

.heading-wrapper {
	position: relative;
	margin-inline-start: -20px;
	padding-inline-start: 20px;
}

.article:has(.components-header) .heading-wrapper {
	&.h2 {
		position: relative;
		z-index: 5;

		.anchor {
			inset-block-start: 75px;
		}
	}

	&.h3 .anchor {
		inset-block-start: 72px;
	}
}

vwc-tab-panel pre.hljs:first-child {
	border-radius: 0 0 8px 8px;
	margin-block-start: 0;
}

.article .components-header + .heading-wrapper.h2 {
	margin-block-start: -48px;
}

.article {
	position: relative;
	min-width: 0;
	inline-size: 100%;
	max-inline-size: 1000px;
	padding-block: 32px;
	word-break: break-word;
}

.skip-top {
	display: none;
}

vwc-note ~ vwc-note {
	display: block;
	margin-block-start: 16px;
}

/* #endregion article */

/* #startregion table */

.table-wrapper {
	display: flex;
	overflow: auto;
	box-sizing: border-box;
}

table {
	width: 100%;
	border-collapse: collapse;
	margin-block: 16px;
}

thead > tr {
	border-bottom: 1px solid var(--vvd-color-neutral-900);
}

tbody > tr {
	border-bottom: 1px solid var(--vvd-color-neutral-100);
}

td,
th {
	padding: 8px 16px;
	max-inline-size: 80ch;
	text-align: left;
	vertical-align: top;
	word-break: normal;
}

/* #endregion table */

/* #region code fence demo */

.cbd-iframe-container {
	position: relative;
}

.cbd-demo {
	overflow: hidden;
	width: 100%;
	border: none;
	border-radius: 8px 8px 0 0;
	block-size: 30px;
}

.cbd-actions {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.cbd-locale-switcher {
	margin: 8px;
}

.cbd-details > summary {
	display: none;
}

.cbd-code-block {
	border-top: 1px solid var(--vvd-color-neutral-100);
}

.cbd-code-block > pre {
	border-radius: 0;
	margin: 0;
}

.cbd-variables,
.cbd-variables th,
.cbd-variables td {
	padding: 8px;
}

.cbd-variables__color {
	display: flex;
	gap: 8px;
}

.cbd-variables__color-square {
	width: 1em;
	height: 1em;
	border: 1px solid var(--vvd-color-neutral-100);
}

/* #endregion code fence demo */

/* #region highlight js */

.hljs {
	padding: 8px;
	border-radius: 8px;
	background-color: var(--vvd-color-neutral-50);
	color: var(--vvd-color-neutral-900);
	font-size: 1rem;
	overflow-x: auto;
}

.hljs.preview {
	overflow-x: auto;
}
.hljs-string,
.hljs-section,
.hljs-selector-class,
.hljs-template-variable,
.hljs-deletion {
	color: var(--vvd-color-alert-600);
}

.hljs-name,
.hljs-quote,
.hljs-selector-pseudo,
.hljs-selector-tag {
	color: var(--vvd-color-success-600);
}

.hljs-attr,
.hljs-attribute,
.hljs-literal,
.hljs-meta,
.hljs-number,
.hljs-operator,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-id,
.hljs-variable {
	color: var(--vvd-color-information-600);
}

.hljs-doctag,
.hljs-keyword,
.hljs-meta .hljs-keyword,
.hljs-template-tag,
.hljs-template-variable,
.hljs-type,
.hljs-variable.language_ {
	color: var(--vvd-color-alert-600);
}

.hljs-code,
.hljs-comment,
.hljs-formula {
	color: var(--vvd-color-neutral-600);
}

/* #endregion highlight js */

/* announcement-banner style */
@media (width <= 460px) {
	.with-announcement-banner {
		--announcement-banner-block-size: 80px;
	}
}

@media (width >= 461px) {
	.with-announcement-banner {
		--announcement-banner-block-size: 60px;
	}
}

.desktop {
	@media (width <= 599px) {
		display: none;
	}
}

.mobile-only {
	@media (width >= 600px) {
		display: none;
	}
}

.with-announcement-banner vwc-header::part(base) {
	inset-block-start: var(--announcement-banner-block-size);
}

.with-announcement-banner vwc-side-drawer > main {
	margin-block-start: calc(
		var(--vvd-header-block-size) + var(--announcement-banner-block-size)
	);
}

.with-announcement-banner vwc-side-drawer::part(base) {
	inset-block: calc(
			var(--vvd-header-block-size) + var(--announcement-banner-block-size) +
				env(safe-area-inset-top)
		)
		env(safe-area-inset-bottom);
}

.with-announcement-banner .article-toc {
	--offset-top: calc(
		var(--vvd-header-block-size) + var(--banner-offset, 0px) +
			var(--announcement-banner-block-size)
	);
}

.with-announcement-banner .components-header {
	--offset-top: calc(
		var(--vvd-header-block-size) + var(--banner-offset, 0px) +
			var(--announcement-banner-block-size)
	);
}

.announcement-banner {
	position: fixed;
	z-index: 1;
	inline-size: 100%;
	inset-block-start: 0;
}

.announcement-banner vwc-button {
	flex-shrink: 0;
}
