.welcome__image {
	margin-block-end: 8px;
	max-inline-size: 650px;
}

.welcome__buttons {
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
}

@media (width >= 1200px) {
	.welcome {
		display: flex;
		flex-direction: row-reverse;
		gap: 32px;
		margin-block: 16px;
	}
}
