{% block content %}
<a href="{{ '/' | url}}">Home</a>
<ul class="navigation">
    {%  for item in components %}
    <li>
        <a href="{{ ('/components/' + item.title) | url }}">{{ item.title }}</a>
    </li>
    {% endfor %}
</ul>
{% endblock %}
