main:has(vwc-banner) {
	--banner-offset: 60px;
}

.article-toc {
	position: sticky;
	top: var(--offset-top);
	display: none;
	height: calc(100vh - var(--offset-top));
	box-sizing: border-box;
	flex-shrink: 0;
	inline-size: 200px;
	overflow-y: auto;
	padding-block: 32px;

	--offset-top: calc(var(--vvd-header-block-size) + var(--banner-offset, 0px));
}

@media (width >= 768px) {
	.article-toc {
		display: block;
		padding-inline-end: 4px;
	}
}

.article-toc nav {
	position: relative;
	border-left: 1px solid var(--vvd-color-neutral-200);
	margin-block-start: 16px;
}

.article-toc nav::before {
	position: absolute;
	top: anchor(top);
	left: 0;
	display: block;
	background-color: var(--vvd-color-cta-600);
	block-size: anchor-size(height);
	content: '';
	inline-size: 2px;
	position-anchor: --toc-current-item;
	transition:
		top 0.2s ease,
		height 0.2s ease;
}

.article-toc ol {
	list-style: none;
	padding-inline-start: 8px;
}

.article-toc ol ol {
	padding-inline-start: 16px;
}

.article-toc ol ol li {
	padding-block-start: 2px;
}

.article-toc nav > ol > li:not(:first-child) {
	padding-block-start: 12px;
}

.article-toc a {
	display: block;
	padding: 8px 16px;
	border-radius: 8px;
	color: var(--vvd-color-canvas-text);
	font: var(--vvd-typography-base);
	text-decoration: none;
}

.article-toc ol ol a {
	border-radius: 4px;
	font: var(--vvd-typography-base-condensed);
	padding-block: 6px;
}

.article-toc a:visited {
	color: var(--vvd-color-canvas-text);
}

.article-toc a:hover {
	background-color: var(--vvd-color-cta-50);
	color: var(--vvd-color-canvas-text);
}

.article-toc a[aria-active] {
	anchor-name: --toc-current-item;
	background-color: var(--vvd-color-cta-100);
	color: var(--vvd-color-cta-600);
}
