---
layout: base.njk
tags: appearances
pagination:
    data: appearances
    size: 1
    alias: appearances
permalink: "appearances/{{ appearances.title | slug }}/"
---

{% for url in appearances.modules %}
<script type="module" src="{{ url | url }}"></script>
{% endfor %}


{% renderFile appearances.markdown %}