---
tags: components
pagination:
    data: componentsNew
    size: 1
    alias: component
permalink: "components/{{ component | pageSlug }}/code/"
layout: component.njk
---

<docs-code-switch></docs-code-switch>

{% renderFile component.code %}

{% editOnGitHub component.code %}
