---
tags: components
pagination:
  data: componentsNew
  size: 1
  alias: component
permalink: 'components/{{ component | pageSlug }}/accessibility/'
layout: component.njk
---

{% renderFile component.accessibility %}

{% editOnGitHub component.accessibility %}
