---
tags: components
pagination:
    data: components
    size: 1
    alias: component
permalink: "components/{{ component.title | slug }}/"
---

{% extends '../_layouts/base.njk' %}
{% if (component.status == "alpha") or (component.status == 'underlying') %}
    {% block header %}
        <script type="module" src="/assets/modules/components/banner/index.js"></script>
    {% endblock %}
    {% block banner %}
        {% if (component.status == "alpha") %}
            <vwc-banner
                class="banner"
                text="Alpha: this is the initial phase of component testing. Expect breaking changes."
                connotation="warning"></vwc-banner>
        {% endif %}
        {% if (component.status == "underlying") %}
            <vwc-banner
                class="banner"
                text="Underlying: this component is only used by other components and not intended to be used by authors outside the
                    Vivid team"
                connotation="information"></vwc-banner>
        {% endif %}
    {% endblock %}
{% endif %}
{% block content %}
    {% if component.figma %}
        <vwc-tabs class="componentsTabs" activeid="dev">
            <vwc-tab label="Dev" id="dev"></vwc-tab>
            <vwc-tab label="Figma" id="figma"></vwc-tab>
            <vwc-tab-panel id="devPanel">
                {% renderFile component.markdown %}
            </vwc-tab-panel>
            <vwc-tab-panel id="figmaPanel">
                <iframe class="figmaIframe" src="{{ component.figma }}"></iframe>
            </vwc-tab-panel>
        </vwc-tabs>
    {% else %}
        {% renderFile component.markdown %}
    {% endif %}
{% endblock %}