---
tags: components
pagination:
  data: componentsLegacy
  size: 1
  alias: component
permalink: 'components/{{ component | pageSlug }}/'
layout: component.njk
---

{% renderFile component.markdown %}

{% editOnGitHub component.markdown %}
