---
tags: components
pagination:
    data: components
    size: 1
    alias: component
permalink: "components/{{ component.title | slug }}/"
---

{% extends '../_layouts/base.njk' %}

{% set urls = component.modules %}

{% if (component.status) == "alpha" %}
	{% set urls = (urls.push("/assets/modules/components/banner/index.js"),urls) %}

	{% block banner %}
		<vwc-banner class="banner" text="Alpha: this is the initial phase of component testing. Expect breaking changes." connotation="warning"></vwc-banner>
	{% endblock %}
{% endif %}

{% block header %}
	{% for url in urls %}
		<script type="module" src="{{ url | url }}"></script>
	{% endfor %}
{% endblock %}

{% block content %}
	{% renderFile component.markdown %}
{% endblock %}
