---
tags: components
pagination:
    data: components
    size: 1
    alias: component
permalink: "components/{{ component.title | slug }}/"
---

{% extends '../_layouts/base.njk' %}

{% block header %}
	{% if (component.status) == "alpha" %}
		<script type="module" src="/assets/modules/components/banner/index.js"></script>
	{% endif %}
{% endblock %}

{% block banner %}
	{% if (component.status) == "alpha" %}
		<vwc-banner class="banner" text="Alpha: this is the initial phase of component testing. Expect breaking changes." connotation="warning"></vwc-banner>
	{% endif %}
{% endblock %}

{% block content %}
	{% renderFile component.markdown %}
{% endblock %}
