---
tags: components
pagination:
  data: componentsNew
  size: 1
  alias: component
permalink: 'components/{{ component | pageSlug }}/'
layout: component.njk
---

{% renderFile component.overview %}

{% editOnGitHub component.overview %}
