---
tags: designs
pagination:
    data: designs
    size: 1
    alias: design
permalink: "designs/{{ design | pageSlug }}/"
---

{% extends '../_layouts/base.njk' %}

{% block content %}
	{% renderFile design.markdown %}
{% endblock %}
