---
layout: base.njk
tags: design-system
pagination:
    data: design-system
    size: 1
    alias: design
permalink: "design-system/{{ design.title | slug }}/"
---

{% for url in design.modules %}
<script type="module" src="{{ url | url }}"></script>
{% endfor %}


{% renderFile design.markdown %}