---
tags: getting-started
pagination:
    data: getting-started
    size: 1
    alias: starting
permalink: "getting-started/{{ starting.title | slug }}/"
---

{% extends '../_layouts/base.njk' %}

{% block header %}
	{% for url in starting.modules %}
<script type="module" src="{{ url | url }}"></script>
	{% endfor %}
{% endblock %}

{% block content %}
	{% renderFile starting.markdown %}
{% endblock %}
