---
tags: guide
pagination:
    data: guides
    size: 1
    alias: doc
permalink: "guides/{{ doc | pageSlug }}/"
layout: article.njk
eleventyComputed:
    hideToc: "{{ doc.hideToc }}"
---
{% renderFile doc.markdown %}
