---
layout: base.njk
tags: icon
pagination:
    data: icon
    size: 1
    alias: icon
permalink: "icon/{{ icon.title | slug }}/"
---

{% for url in icon.modules %}
<script type="module" src="{{ url | url }}"></script>
{% endfor %}


{% renderFile icon.markdown %}