---
tags: icons
pagination:
    data: icons
    size: 1
    alias: icon
permalink: "icons/{{ icon.title | slug }}/"
---

{% extends '../_layouts/base.njk' %}

{% block content %}
	{% renderFile icon.markdown %}
{% endblock %}
