---
layout: base.njk
tags: icons
pagination:
    data: icons
    size: 1
    alias: icons
permalink: "icons/{{ icons.title | slug }}/"
---

{% for url in icons.modules %}
<script type="module" src="{{ url | url }}"></script>
{% endfor %}


{% renderFile icons.markdown %}