---
tags: introduction getting-started
pagination:
    data: introduction
    size: 1
    alias: doc
permalink: "getting-started/{{ doc | pageSlug }}/"
---

{% extends '../_layouts/base.njk' %}

{% block content %}
	{% renderFile doc.markdown %}
{% endblock %}
