---
tags: patterns
pagination:
    data: patterns
    size: 1
    alias: doc
permalink: "patterns/{{ doc.title | slug }}/"
---

{% extends '../_layouts/base.njk' %}

{% block header %}
	{% for url in doc.modules %}
<script type="module" src="{{ url | url }}"></script>
	{% endfor %}
{% endblock %}

{% block content %}
	{% renderFile doc.markdown %}
{% endblock %}
