---
layout: base.njk
tags: scheme
pagination:
    data: scheme
    size: 1
    alias: scheme
permalink: "scheme/{{ scheme.title | slug }}/"
---

{% for url in scheme.modules %}
<script type="module" src="{{ url | url }}"></script>
{% endfor %}


{% renderFile scheme.markdown %}