---
layout: base.njk
tags: start
pagination:
    data: start
    size: 1
    alias: start
permalink: "start/{{ start.title | slug }}/"
---

{% for url in start.modules %}
<script type="module" src="{{ url | url }}"></script>
{% endfor %}


{% renderFile start.markdown %}