---
layout: base.njk
tags: starts
pagination:
    data: starts
    size: 1
    alias: start
permalink: "starts/{{ start.title | slug }}/"
---

{% for url in start.modules %}
<script type="module" src="{{ url | url }}"></script>
{% endfor %}


{% renderFile start.markdown %}