---
layout: base.njk
tags: states
pagination:
    data: states
    size: 1
    alias: states
permalink: "states/{{ states.title | slug }}/"
---

{% for url in states.modules %}
<script type="module" src="{{ url | url }}"></script>
{% endfor %}


{% renderFile states.markdown %}