---
layout: base.njk
tags: typography
pagination:
    data: typography
    size: 1
    alias: typography
permalink: "typography/{{ typography.title | slug }}/"
---

{% for url in typography.modules %}
<script type="module" src="{{ url | url }}"></script>
{% endfor %}


{% renderFile typography.markdown %}