---
tags: components
pagination:
  data: componentUseCases
  size: 1
  alias: component
permalink: 'components/{{ component | componentSlug }}/use-cases/'
layout: component.njk
eleventyComputed:
  pageTitle: "{{ component.title }} - Use Cases"
  githubEditLink: "{{ component.useCases | githubEditLink }}"
---

{% renderFile component.useCases %}
