---
tags: components
pagination:
  data: componentUseCases
  size: 1
  alias: component
permalink: 'components/{{ component.slug }}/use-cases/'
layout: component.njk
eleventyComputed:
  pageTitle: "{{ component.concept }} - Use Cases"
  githubEditLink: "{{ component.documentation.useCases | githubEditLink }}"
---

{% renderFile component.documentation.useCases %}
