---
tags: components
pagination:
  data: componentsNew
  size: 1
  alias: component
permalink: 'components/{{ component | componentSlug }}/accessibility/'
layout: component.njk
eleventyComputed:
  pageTitle: "{{ component.title }} - Accessibility"
  githubEditLink: "{{ component.accessibility | githubEditLink }}"
---

{% renderFile component.accessibility %}
