---
tags: components
pagination:
  data: componentsNew
  size: 1
  alias: component
permalink: 'components/{{ component | componentSlug }}/'
layout: component.njk
eleventyComputed:
  pageTitle: "{{ component.title }} - Variations"
  githubEditLink: "{{ component.variations | githubEditLink }}"
---

{% renderFile "../../" ~ component.variations %}
