---
tags: components
pagination:
  data: componentVariations
  size: 1
  alias: component
permalink: 'components/{{ component.slug }}/'
layout: component.njk
eleventyComputed:
  pageTitle: "{{ component.concept }} - Variations"
  githubEditLink: "{{ component.documentation.variations | githubEditLink }}"
---

{% renderFile component.documentation.variations %}
