---
eleventyExcludeFromCollections: true
pagination:
  data: componentsNew
  size: 1
  alias: component
permalink: "components/{{ component.slug }}/code/llms.txt"
eleventyComputed:
  pageTitle: "{{ component.concept }} - Code"
---
# {{ pageTitle }}
{{ component.documentation.code | includeMd | safe }}
