---
eleventyExcludeFromCollections: true
pagination:
  data: componentVariations
  size: 1
  alias: component
permalink: 'components/{{ component.slug }}/variations/llms.txt'
eleventyComputed:
  pageTitle: "{{ component.concept }} - Variations"
---
# {{ pageTitle }}
{{ component.documentation.variations | includeMd | safe }}
