---
tags: components
pagination:
    data: components
    size: 1
    alias: component
permalink: "components/{{ component | pageSlug }}/"
layout: component.njk
---
{% renderFile component.markdown %}
