---
eleventyExcludeFromCollections: true
pagination:
  data: componentUseCases
  size: 1
  alias: component
permalink: 'components/{{ component.slug }}/use-cases/llms.txt'
eleventyComputed:
  pageTitle: "{{ component.concept }} - Use Cases"
---
# {{ pageTitle }}

{{ component.documentation.useCases | includeMd | cleanLLM | safe }}
