---
tags: components
pagination:
  data: componentAccessibility
  size: 1
  alias: component
permalink: 'components/{{ component.slug }}/accessibility/'
layout: component.njk
eleventyComputed:
  pageTitle: "{{ component.concept }} - Accessibility"
  githubEditLink: "{{ component.documentation.accessibility | githubEditLink }}"
---
{% renderFile component.documentation.accessibility %}
