---
eleventyExcludeFromCollections: true
pagination:
  data: componentGuidelines
  size: 1
  alias: component
permalink: 'components/{{ component.slug }}/guidelines/llms.txt'
eleventyComputed:
  pageTitle: '{{ component.concept }} - Guidelines'
---
# {{ pageTitle }}

{{ component.documentation.guidelines | includeMd | cleanLLM | safe }}
