---
tags: components
pagination:
  data: componentsNew
  size: 1
  alias: component
permalink: 'components/{{ component | componentSlug }}/use-cases/'
layout: component.njk
eleventyComputed:
  githubEditLink: "{{ component.useCases | githubEditLink }}"
---

{% renderFile component.useCases %}
