---
eleventyExcludeFromCollections: true
pagination:
  data: componentAccessibility
  size: 1
  alias: component
permalink: "components/{{ component | componentSlug }}/accessibility/llms.txt"
eleventyComputed:
  pageTitle: "{{ component.title }} - Accessibility"
---
# {{ pageTitle }}
{{ component.accessibility | includeMd | safe }}
