---
tags: components
pagination:
    data: componentsLegacy
    size: 1
    alias: component
permalink: "components/{{ component.slug }}/"
layout: component.njk
eleventyComputed:
    githubEditLink: "{{ component.documentation.legacy | githubEditLink }}"
---

{% renderFile component.documentation.legacy %}
