---
tags: components
pagination:
  data: componentCode
  size: 1
  alias: component
permalink: "components/{{ component.slug }}/code/"
layout: component.njk
eleventyComputed:
  pageTitle: "{{ component.concept }} - Code"
  githubEditLink: "{{ component.documentation.code | githubEditLink }}"
---

{% renderFile component.documentation.code %}

<h1> API Reference </h1>

{% for element in component.elements %}
	{% set metadata = getMetadata(element.tag) %}

	{% if component.elements | length > 1 %}
	<h2> {{ element.tag }} </h2>
	{% endif %}

	<vwc-tabs>
			<vwc-tab label="Vue"></vwc-tab>
  		<vwc-tab-panel>
  				{% include "vue-props-table.njk" %}
  		</vwc-tab-panel>

			<vwc-tab label="Web components"></vwc-tab>
			<vwc-tab-panel>
				{% include "props-table.njk" %}
				{% include "slots-table.njk" %}
				{% include "events-table.njk" %}
				{% include "methods-table.njk" %}
			</vwc-tab-panel>
  	</vwc-tabs>
{% endfor %}
