---
eleventyExcludeFromCollections: true
pagination:
  data: componentAccessibility
  size: 1
  alias: component
permalink: "components/{{ component.slug }}/accessibility/llms.txt"
eleventyComputed:
  pageTitle: "{{ component.concept }} - Accessibility"
---
# {{ pageTitle }}
{{ component.documentation.accessibility | includeMd | cleanLLM | safe }}
