---
tags: components
pagination:
  data: componentGuidelines
  size: 1
  alias: component
permalink: "components/{{ component.slug }}/guidelines/"
layout: component.njk
eleventyComputed:
  pageTitle: "{{ component.concept }} - Guidelines"
  githubEditLink: "{{ component.documentation.guidelines | githubEditLink }}"
---

{% renderFile component.documentation.guidelines %}
