---
tags: introduction getting-started
pagination:
    data: introduction
    size: 1
    alias: doc
permalink: "getting-started/{{ doc | pageSlug }}/"
layout: article.njk
---
{% renderFile doc.markdown %}
