@use 'variables' as variables;

$spezia: SpeziaWebVariable;
$spezia-mono: SpeziaMonoWebVariable;

:root {
	#{variables.$font-family-spezia}: $spezia;
	#{variables.$font-family-spezia-mono}: $spezia-mono;
}

@font-face {
	font-display: block;
	font-family: #{$spezia};
	font-stretch: 50% 200%;
	font-style: normal;
	font-weight: 1 1000;
	src: url('https://fonts.resources.vonage.com/fonts/v1/Spezia_Web_Complete_Upright.woff2')
		format('woff2-variations');
}

@font-face {
	font-display: block;
	font-family: #{$spezia-mono};
	font-stretch: 50% 200%;
	font-style: normal;
	font-weight: 1 1000;
	src: url('https://fonts.resources.vonage.com/fonts/v1/Spezia_Web_Monospace_Complete.woff2')
		format('woff2-variations');
}
