$predefined-appearances: filled outlined soft text ghost filled-idle outlined-idle soft-idle text-idle ghost-idle;

$default: false !default;
$subset: $predefined-appearances !default;
$outline-duotone: false !default;
