@use '../connotation' as connotation;
@use '../../functions' as functions;
@use 'variables' as variables;
@use 'config' as config;
@use 'sass:selector';
@use 'sass:list';


////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////
$all-appearances: (
	filled: 'filled',
	outlined: 'outlined',
	soft: 'soft',
	text: 'text',
	ghost: 'ghost',
);

%filled {
	#{variables.$appearance-color-fill}: var(#{connotation.$vvd-color-connotation});
	#{variables.$appearance-color-text}: var(#{connotation.$vvd-color-on-connotation});
}

%outlined {
	#{variables.$appearance-color-fill}: transparent;
	@if (config.$outline-duotone) {
		#{variables.$appearance-color-outline}: var(#{connotation.$vvd-color-connotation});
		#{variables.$appearance-color-text}: var(#{connotation.$vvd-color-connotation}-contrast);
	} @else {
		#{variables.$appearance-color-outline}: var(#{connotation.$vvd-color-connotation}-diverse);
		#{variables.$appearance-color-text}: var(#{connotation.$vvd-color-connotation}-diverse);
	}
}

%soft {
	#{variables.$appearance-color-fill}: var(#{connotation.$vvd-color-connotation}-soft);
	#{variables.$appearance-color-text}: var(#{connotation.$vvd-color-connotation}-contrast);
}

%text,
%ghost {
	#{variables.$appearance-color-fill}: transparent;
	#{variables.$appearance-color-text}: var(#{connotation.$vvd-color-connotation}-diverse);
}

@function get-typed-selector($type) {
	@return '.appearance-#{$type}';
}

@mixin appearance {
	$appearance-set: functions.pick-list(config.$subset, config.$predefined-appearances);

	@each $type in $appearance-set {
		$typed-selector: get-typed-selector($type);

		$selector: selector.unify(&, $typed-selector);

		@if $type == config.$default and list.length($appearance-set) > 1 {
			$rule-out-typed-selector: &;
			@each $rule-out-type in $appearance-set {
				@if $rule-out-type != config.$default {
					$rule-out-typed-selector: '#{$rule-out-typed-selector}:not(#{get-typed-selector($rule-out-type)})';
				}
			}
			$selector: selector.parse(#{$selector, $rule-out-typed-selector});
		}

		@at-root #{$selector} {
			@extend %#{$type};
		}
	}
}
