---
permalink: /designs/color/
title: Color
order: 2
---
{% include '../_includes/tokens-table-new.njk' %}
{% from '../_includes/tokens-table-new.njk' import heading, colorTokenTable %}

<h1>Color</h1>

<p>An overview of all available color variables.</p>

{{ heading('Semantic', '2') }}
{{ colorTokenTable(tokens.color.bg, 'Background', 3) }}
{{ colorTokenTable(tokens.color.border, 'Border', 3) }}
{{ colorTokenTable(tokens.color.text, 'Text', 3) }} 

{{ heading('Patterns', '2') }}
{{ heading('Action', '3') }}
{{ colorTokenTable(tokens.action.strong, 'Strong emphasis', 4) }}
{{ colorTokenTable(tokens.action.medium, 'Medium emphasis', 4) }}
{{ colorTokenTable(tokens.action.low, 'Low emphasis', 4) }}

{{ heading('Control', '3') }}
{{ colorTokenTable(tokens.control.bg, 'Backgrounds', 4) }}
{{ colorTokenTable(tokens.control.border, 'Borders', 4) }}
{{ colorTokenTable(tokens.control.text, 'Text / icons', 4) }}