# Browsers that we support

> 0.5%
last 2 versions
Firefox ESR
not dead
not IE 11
not op_mini all
not ios_saf > 0
not baidu > 0
not and_uc > 0
not kaios > 0
not op_mob > 0
not and_qq > 0
not samsung > 0
not kaios > 0
not Baidu > 0