<!DOCTYPE html>
<html lang="en" class="vvd-root">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <!--  Essential META Tags -->
    <meta property="og:title" content="Vivid Web Components">
    <meta property="og:type" content="Documentation" />
    <meta property="og:image" content="https://raw.githubusercontent.com/Vonage/vivid-3/3ed7695e719b94bd87621983eba29c4d2df496e6/assets/images/vivid-logo.jpeg">
    <meta property="og:url" content="https://vivid.deno.dev">
    <meta name="twitter:card" content="summary_large_image">

    <!--  Non-Essential, But Recommended -->
    <meta property="og:description" content="Vonage's design system platform targeted to provide incorporated, battery-charged web components.">
    <meta property="og:site_name" content="Vivid Web Components">
    <meta name="twitter:image:alt" content="Vivid logo">

    <title>Vivid</title>
    <link rel="icon" href="{{ '/assets/images/vivid-logo.svg' | url }}" type="image/svg+xml">

		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Roboto+Mono:wght@400;500&display=swap" rel="stylesheet">

    <!-- Load styles inline -->
    {% set highlightCss %}
      {% include "../../../node_modules/highlight.js/styles/github.css" %}
    {% endset %}

    {% set mainCss %}
      {% include "../assets/styles/main.css" %}
    {% endset %}

    <style>
      {{ highlightCss | cssmin | safe }}
      {{ mainCss | cssmin | safe }}
    </style>

    {% set mainJs %}
      {% include "../assets/scripts/main.js" %}
    {% endset %}

    <script>
      {{ mainJs | safe }}
    </script>

    {% set viewportHandler %}
      {% include "../assets/scripts/viewport-handler.js" %}
    {% endset %}

    <script type="module">
      {{ viewportHandler | safe }}
    </script>

    {% set themeHandler %}
      {% include "../assets/scripts/theme-handler.js" %}
    {% endset %}

    <script type="module">
      {{ themeHandler | safe }}
    </script>

    {% set scrollHandler %}
      {% include "../assets/scripts/scroll-handler.js" %}
    {% endset %}

    <script type="module">
      {{ scrollHandler | safe }}
    </script>

    <link rel="stylesheet" href="{{ '/assets/styles/core/all.css' | url }}">

    <script type="module" src="{{ '/assets/scripts/vivid-components.js' | url}}"></script>

		{% block header %}{% endblock %}

    <script type="module" src="{{ '/assets/scripts/live-sample.js' | url}}"></script>

  </head>

<body>

	<vwc-header id="header-main" slot="app-content">

		<div class="header-content-wrapper">
			<vwc-button id="hamburger-button" connotation="accent" icon='collapse-solid' size='condensed' id="menu-button" aria-label="Menu" onclick="toggleSideDrawerButton()" class="menu-button"></vwc-button>
			<a class="logo-wrapper" href="/" alt="Vivid Web Components">
				<img src="/assets/images/vivid-logo.svg" alt="Vivid Logo" style="width: 32px">
				<strong>VIVID Web Components</strong>
			</a>
		</div>

			<vwc-button id="dark-mode-toggle" icon="light-mode-line" aria-label="dark mode toggle" slot="action-items"></vwc-button>
			<vwc-popup id="dark-mode-popup" anchor="dark-mode-toggle" slot="action-items">
				<vwc-listbox id="dark-mode-listbox" appearance="ghost">
					<vwc-option id="option-light" value="light" text="Light"></vwc-option>
					<vwc-option id="option-dark" value="dark" text="Dark"></vwc-option>
					<vwc-option id="option-auto" value="auto" text="Auto"></vwc-option>
				</vwc-listbox>
			</vwc-popup>

		<vwc-nav-item slot="action-items" icon="github-mono" href="https://github.com/vonage/vivid-3" aria-label="View on GitHub" role="navigation"></vwc-nav-item>

		<vwc-side-drawer id="sidedrawer" open slot="app-content">
			<vwc-layout gutters="small" column-basis="block">
				{% include "navigation.njk" %}
			</vwc-layout>

				<main slot="app-content">
					{% block banner %}{% endblock %}
					<vwc-layout column-basis="block" class="main-layout">
						<article class="article">
							{% block content %}{% endblock %}
						</article>
					</vwc-layout>
				</main>
		</vwc-side-drawer>
	</vwc-header>

</body>

</html>
