<!DOCTYPE html>
<html lang="en" data-vvd-context="none">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vivid</title>
    <link rel="icon" href="{{ '/assets/images/vivid-logo.svg' | url }}" type="image/svg+xml">

    <!-- Load fonts -->
    <link rel="preload" href="https://fonts.resources.vonage.com/fonts/v1/Spezia_Web_Complete_Upright.woff2" as="font" type="font/woff2" crossorigin>
    <!-- <link rel="preload" href="https://fonts.resources.vonage.com/fonts/v1/Spezia_Web_Monospace_Complete.woff2" as="font" type="font/woff2" crossorigin> -->
    <link rel="stylesheet" href="{{ '/assets/styles/fonts/spezia.css' | url }}">

    <link href="https://unpkg.com/prismjs@1.20.0/themes/prism-tomorrow.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ '/assets/styles/main.css' | url }}">
    <link rel="stylesheet" href="{{ '/assets/styles/themes/light.css' | url }}" media="(prefers-color-scheme: light)">
    <link rel="stylesheet" href="{{ '/assets/styles/themes/dark.css' | url }}" media="(prefers-color-scheme: dark)">

    <script type="module" src="https://unpkg.com/dark-mode-toggle"></script>

    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>

    <script type="module" src="{{ '/assets/modules/components/layout/index.js' | url}}"></script>
    <script type="module" src="{{ '/assets/modules/components/text/index.js' | url}}"></script>
    <script type="module" src="{{ '/assets/modules/components/side-drawer/index.js' | url}}"></script>
    <script type="module" src="{{ '/assets/modules/components/sidenav-item/index.js' | url}}"></script>
    <script type="module" src="https://es6.dev.vivid.vonage.com/v2.22.1/@vonage/vwc-top-app-bar-fixed/vwc-top-app-bar-fixed.js"></script>

    {% include "prefetches.njk" %}
  </head>

<body>
	<vwc-top-app-bar-fixed>
    <div class="logo" slot="navigationIcon">
    <img src="../../../vivid-logo.svg" style="" alt="Vivid Logo" width="30">
      <h5>VIVID</h5>
    </div>
    <div class="header-actions" slot="actionItems">
    <div class="star-us">
    <!-- Place this tag where you want the button to render. -->
        <a class="github-button"
            href="https://github.com/vonage/vivid-3"
            data-color-scheme="no-preference: light; light: light; dark: dark;"
            data-size="large"
            data-show-count="true"
            aria-label="Star vonage/vivid-3 on GitHub">
            Star
        </a>
    </div>
    <dark-mode-toggle permanent></dark-mode-toggle>
    </div>
    <vwc-side-drawer open>
      {% include "navigation.njk" %}
			<main slot="app-content">
        <vwc-layout gutters="base" column-basis="block" class="main-layout">
          <article>
            {{content | safe}}
          </article>
        </vwc-layout>
        <br>
      </main>
		</vwc-side-drawer>
	</vwc-top-app-bar-fixed>

</body>

</html>
