{% extends './page.njk' %}


{% block banner %}
	{% if (component.status == "alpha") %}
		<vwc-banner class="banner" text="ALPHA: If you need this component, please contact the Vivid team to co-ordinate acceptence testing" connotation="warning"></vwc-banner>
	{% endif %}
	{% if (component.status == "underlying") %}
		<vwc-banner class="banner" text="Underlying: this component is only used by other components and not intended to be used by authors outside the Vivid team" connotation="information"></vwc-banner>
	{% endif %}
{% endblock %}

{% block aside %}
	{% include '../_includes/toc.njk' %}
{% endblock %}

{% block content %}
	{% if (component.page != 'legacy') %}
		<h1>{{ component.title }}</h1>
		<p>{{ component.description }}</p>
		<div class="components-header" id="components-header">
			<nav>
				<ul>
					<li><a href="/components/{{ component | pageSlug }}/#components-header" {% if ("/components/" + (component | pageSlug) + "/") == page.url %} aria-current="page" {% endif %}>Variations</a></li>
					<li><a href="/components/{{ component | pageSlug }}/guidelines/#components-header" {% if ("/components/" + (component | pageSlug) + "/guidelines/") == page.url %} aria-current="page" {% endif %}>Design Guidelines</a></li>
					<li><a href="/components/{{ component | pageSlug }}/code/#components-header" {% if ("/components/" + (component | pageSlug) + "/code/") == page.url %} aria-current="page" {% endif %}>Code</a></li>
					<li><a href="/components/{{ component | pageSlug }}/use-cases/#components-header" {% if ("/components/" + (component | pageSlug) + "/use-cases/") == page.url %} aria-current="page" {% endif %}>Use Cases</a></li>
					<li><a href="/components/{{ component | pageSlug }}/accessibility/#components-header" {% if ("/components/" + (component | pageSlug) + "/accessibility/") == page.url %} aria-current="page" {% endif %}>Accessibility</a></li>
				</ul>
			</nav>
		</div>
	{% endif %}

	{{ content | safe }}
{% endblock %}
