{% extends './base.njk' %}

{% block main %}
	{% block banner %}{% endblock %}
	<div class="page">
		{% block aside %}{% endblock %}
		<article class="article">
			{% block content %}{% endblock %}
			{% include '../_includes/skip-top.njk' %}
		</article>
	</div>
{% endblock %}
