{% block content %}
<vwc-nav>
 <vwc-nav-disclosure label="Getting Started" open>
    {%  for item in starts | sort(false, false, 'title') %}
    <vwc-nav-item href="{{ ('/starts/' + item.title) | url }}" text="{{ item.title | replace("-", " ") | capitalize }}" {% if ('/starts/' + item.title + '/') == page.url %}aria-current="page"{% endif %}></vwc-nav-item>
    {% endfor %}
  </vwc-nav-disclosure>

 <vwc-nav-disclosure label="Design System" open>
    {%  for item in designs | sort(false, false, 'title') %}
    <vwc-nav-item href="{{ ('/designs/' + item.title) | url }}" text="{{ item.title | replace("-", " ") | capitalize }}" {% if ('/designs/' + item.title + '/') == page.url %}aria-current="page"{% endif %}></vwc-nav-item>
    {% endfor %}
  </vwc-nav-disclosure>

 <vwc-nav-disclosure label="Color Palette" open>
    {%  for item in palettes | sort(false, false, 'title') %}
    <vwc-nav-item href="{{ ('/palettes/' + item.title) | url }}" text="{{ item.title | replace("-", " ") | capitalize }}" {% if ('/palettes/' + item.title + '/') == page.url %}aria-current="page"{% endif %}></vwc-nav-item>
    {% endfor %}
  </vwc-nav-disclosure>

  <vwc-nav-disclosure label="Components" open>
    {%  for item in components | sort(false, false, 'title') %}
    <vwc-nav-item href="{{ ('/components/' + item.title) | url }}" text="{{ item.title | replace("-", " ") | capitalize }}" {% if ('/components/' + item.title + '/') == page.url %}aria-current="page"{% endif %}></vwc-nav-item>
    {% endfor %}
  </vwc-nav-disclosure>
</vwc-nav>
{% endblock %}
