{% block content %}
<vwc-nav>
 <vwc-nav-disclosure label="Design System" open>
    {%  for item in design | sort(false, false, 'title') %}
    <vwc-nav-item href="{{ ('/design/' + item.title) | url }}" text="{{ item.title | replace("-", " ") | capitalize }}"></vwc-nav-item>
    {% endfor %}
  </vwc-nav-disclosure>

 <vwc-nav-disclosure label="Color Palette" open>
    {%  for item in palette | sort(false, false, 'title') %}
    <vwc-nav-item href="{{ ('/palette/' + item.title) | url }}" text="{{ item.title | replace("-", " ") | capitalize }}"></vwc-nav-item>
    {% endfor %}
  </vwc-nav-disclosure>

  <vwc-nav-disclosure label="Color Scheme" open>
    {%  for item in scheme | sort(false, false, 'title') %}
    <vwc-nav-item href="{{ ('/scheme/' + item.title) | url }}" text="{{ item.title | replace("-", " ") | capitalize }}"></vwc-nav-item>
    {% endfor %}
  </vwc-nav-disclosure>

  <vwc-nav-disclosure label="Typography" open>
    {%  for item in typography | sort(false, false, 'title') %}
    <vwc-nav-item href="{{ ('/typography/' + item.title) | url }}" text="{{ item.title | replace("-", " ") | capitalize }}"></vwc-nav-item>
    {% endfor %}
  </vwc-nav-disclosure>

  <vwc-nav-disclosure label="Elevation" open>
    {%  for item in elevation | sort(false, false, 'title') %}
    <vwc-nav-item href="{{ ('/elevation/' + item.title) | url }}" text="{{ item.title | replace("-", " ") | capitalize }}"></vwc-nav-item>
    {% endfor %}
  </vwc-nav-disclosure>

  <vwc-nav-disclosure label="States" open>
    {%  for item in states | sort(false, false, 'title') %}
    <vwc-nav-item href="{{ ('/states/' + item.title) | url }}" text="{{ item.title | replace("-", " ") | capitalize }}"></vwc-nav-item>
    {% endfor %}
  </vwc-nav-disclosure>

  <vwc-nav-disclosure label="Appearances" open>
    {%  for item in appearances | sort(false, false, 'title') %}
    <vwc-nav-item href="{{ ('/appearances/' + item.title) | url }}" text="{{ item.title | replace("-", " ") | capitalize }}"></vwc-nav-item>
    {% endfor %}
  </vwc-nav-disclosure>

  <vwc-nav-disclosure label="Icons" open>
    {%  for item in icons | sort(false, false, 'title') %}
    <vwc-nav-item href="{{ ('/icons/' + item.title) | url }}" text="{{ item.title | replace("-", " ") | capitalize }}"></vwc-nav-item>
    {% endfor %}
  </vwc-nav-disclosure>

  <vwc-nav-disclosure label="Components" open>
    {%  for item in components | sort(false, false, 'title') %}
    <vwc-nav-item href="{{ ('/components/' + item.title) | url }}" text="{{ item.title | replace("-", " ") | capitalize }}"></vwc-nav-item>
    {% endfor %}
  </vwc-nav-disclosure>
</vwc-nav>
{% endblock %}
