<vwc-note connotation="announcement" headline="New Vivid design Tokens">
	<vwc-icon slot="icon" name="sparkles-line" label="Note:"></vwc-icon>
	<p>
		You’re viewing documentation for our new design tokens, which are currently in <strong>Alpha</strong>. Some components may not fully support them yet, and parts of the documentation may still be incomplete as we continue development.
	</p>

	<p>
		Thanks for your patience and understanding.
	</p>

	<p>
		If you have feedback, we’d love to hear it—please reach out in the <strong>#ask-vivid</strong> Slack channel.
	</p>
</vwc-note>
