{% macro renderNavListItem(entry) -%}
	{% if entry.children | length %}
		{% set isActive = entry | isNavItemActive %}
		{% set isOpen = isActive or entry.initiallyOpen %}
		<vwc-nav-disclosure appearance="ghost-light" label="{{ entry.title }}" {% if isOpen %} open {% endif %} {% if isActive %} current {% endif%}>
			{%- for child in entry.children %}{{ renderNavListItem(child) }}{% endfor -%}
		</vwc-nav-disclosure>
	{% else %}
		<vwc-nav-item appearance="ghost-light" href="{{ entry.url }}" text="{{ entry.title }}" {% if entry | isNavItemActive %} current {% endif %}>
			{% if entry.status == "underlying" %}
				<vwc-badge slot="meta" text="underlying" connotation="information" appearance="subtle" shape="pill"></vwc-badge>
			{% endif %}
			{% if entry.status == "alpha" %}
				<vwc-badge slot="meta" text="alpha" connotation="warning" appearance="subtle" shape="pill"></vwc-badge>
			{% endif %}
			{% if entry.status == "new" %}
				<vwc-badge slot="meta" text="new" connotation="cta" appearance="subtle" shape="pill"></vwc-badge>
			{% endif %}
		</vwc-nav-item>
	{%- endif %}
{%- endmacro %}

{% block content %}
    <vwc-nav class="side-nav">
    		{% set navPages = collections.all | onlyNavPages | onlyPublicPages | eleventyNavigation %}
				{%- for entry in navPages %}{{ renderNavListItem(entry) }}{%- endfor -%}
        <vwc-divider></vwc-divider>
        {% set componentPages = components | navigationFromComponents %}
        {%- for entry in componentPages %}{{ renderNavListItem(entry) }}{%- endfor -%}
    </vwc-nav>
{% endblock %}
