{% macro heading(text, level="1", hidden='') %}
<div class="heading-wrapper h2 {{hidden}}" data-pagefind-weight="1">
	<h{{ level }} id="{{ text | kebabCase }}" data-pagefind-weight="1">{{ text }}</h{{ level }}>
	<a class="anchor" href="#{{ text | kebabCase }}" aria-labelledby="{{ text | kebabCase }}"><vwc-icon name="link-solid"></vwc-icon></a>
</div>
{% endmacro %}

{% macro tokensList(list, preview, headingText="{token group}") %}
<div class="token-group">
	{{ heading(headingText, '4', 'hidden') }}
	{% for item in list %}
			{{ preview(item) }}
	{% endfor %}
	</div>
{% endmacro %}

{% macro preview(item) %}
  <div class="token-preview" style="background-color: {{ item.preview }}; color: contrast-color({{ item.preview }})">
		<div>--{{ item.css }}</div><div>{{ item.preview }}</div>
	</div>
{% endmacro %}

<style>
.hidden {
	position:absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	overflow: hidden;
	white-space: nowrap;
}

.token-group {
	padding-block-end: 16px;
}

.token-preview {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 8px;
	font-weight: 500;
}

.token-preview:before {
    position: absolute;;
    z-index: -1;
    background-color: inherit;
    background-image: linear-gradient(45deg, var(--vvd-color-neutral-50) 25%, transparent 25%), linear-gradient(135deg, var(--vvd-color-neutral-50) 25%, transparent 25%), linear-gradient(45deg, transparent 75%, var(--vvd-color-neutral-50) 75%), linear-gradient(135deg, transparent 75%, var(--vvd-color-neutral-50) 75%);
    background-position: 0 0, 10px 0, 10px -10px, 0 10px;
    background-size: 20px 20px;
    content: "";
    inset: 0;
    opacity: .5;
}

.token-preview--typography {
	justify-content: flex-start;
	text-align: left;
}

.token-preview-box {
	width: 3rem;
	height: 3rem;
}

.token-preview-box--shadow {
	border-radius: 8px;
}

.token-preview-box--radius {
	border: 0 solid var(--vvd-color-neutral-500);
	border-width: 1px 1px 0 0;
}

.token-preview-density {
	border: 1px solid var(--vvd-color-neutral-500);
	border-width: 1px 0;
	color: var(--vvd-color-neutral-500);
}

.token-preview-size {
	background-color: var(--vvd-color-neutral-200);
}
</style>

