<% banner %>
/*
Code in this file were generated using following JSON:
<% descriptor-json %>
*/
import React, { ReactNode, SyntheticEvent, ForwardRefExoticComponent } from 'react'
import wrapper from '@repo/react-component-wrapper'
import { register<% component-name %> } from '@vonage/vivid'

register<% component-name %>('<% tag-prefix %>')

const WrappedComponent = wrapper(`<% tag %>`,  {
    events: [<% events %>],
    attributes: [<% attributes %>],
    properties: [<% properties %>]
}) as ForwardRefExoticComponent<any>;

<% jsdoc.class %>
const <% component-class-name %> = (props:
{
  children?: ReactNode,
  slot?: string,
  id?: string,
  style?: React.CSSProperties,
  ref?: ((instance: HTMLDivElement | null) => void) | React.RefObject<HTMLDivElement> | null | undefined,
<% props %>
}
): JSX.Element => <WrappedComponent {...props}>{props.children}</WrappedComponent>

<% component-class-name %>.displayName = '<% component-class-name %>'

export default <% component-class-name %>
