.div-wrapper {
	max-width: 1200px;
	margin-top: 64px;
}

#icons-layout {
	--layout-column-gap: 16px;
	--layout-row-gap: 16px;
	--layout-grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}

.icon-div {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 16px;
	border-radius: 6px;
	aspect-ratio: 1;
	background-color: var(--vvd-color-neutral-50);
	cursor: pointer;
}

.icon-div:hover {
	background-color: var(--vvd-color-neutral-100);
}

.icon-span {
	padding: 16px;
}

.name-span {
	text-align: center;
}

.button-wrapper {
	margin-block: 32px;
	text-align: center;
}

.tag-wrapper {
	display: flex;
	flex-wrap: wrap;
	margin-block: 32px;
	row-gap: 16px;
}

.tag-group {
	margin-inline-end: 50px;
}
