<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="{{ '/assets/styles/themes/light.css' | url }}" media="(prefers-color-scheme: light)">
    <link rel="stylesheet" href="{{ '/assets/styles/themes/dark.css' | url }}" media="(prefers-color-scheme: dark)">
    <script type="module" src="https://unpkg.com/dark-mode-toggle"></script>

    {% include "prefetches.njk" %}

    <style>
        body {
            display: grid;
            grid-template-columns: 250px auto;
        }
    </style>
</head>

<body>
    <aside>
        {% include "navigation.njk" %}
    </aside>
    <main>
        <dark-mode-toggle permanent></dark-mode-toggle>
        {{content | safe}}
    </main>
</body>

</html>