<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ '/assets/styles/themes/light.css' | url }}">

    {% for url in prefetches %}
    <link rel="prefetch" href="{{ url | url }}" crossorigin="anonymous" as="fetch">
    {% endfor %}

    {% for url in modules %}
    <!-- <script type="module" src="/assets/modules/{{ url | url }}"></script> -->
    {% endfor %}
</head>

<body>

    <main>
        {{content | safe}}
    </main>
</body>

</html>