name: Lighthouse

on: workflow_call

jobs:
  static-dist-dir:
    runs-on: ubuntu-latest
    steps:
        - uses: actions/checkout@v2
        - uses: actions/setup-node@v2
          with:
            node-version: '16'
            cache: 'npm'
        - run: npm ci
        - run: npm run nx build docs

        # name: Run Lighthouse against a static dist dir
        - uses: treosh/lighthouse-ci-action@v8
          with:
            # no urls needed, since it uses local folder to scan .html files
            configPath: './lighthouserc.json'
            uploadArtifacts: true # save results as an action artifacts
            temporaryPublicStorage: true # upload lighthouse report to the temporary storage
