name: Pull Request

on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
      - ready_for_review
      - converted_to_draft
    branches:
      - '**'

concurrency:
  group: ci-tests-${{ github.ref }}-1
  cancel-in-progress: true

jobs:
  deps-cache:
    if: github.event.pull_request.draft == false
    uses: ./.github/workflows/_deps-cache.yml

  call-lint:
    if: github.event.pull_request.draft == false
    needs: [deps-cache]
    uses: ./.github/workflows/_lint.yml

  unit-tests:
    if: github.event.pull_request.draft == false
    needs: call-lint
    uses: ./.github/workflows/_unit-test.yml
    with:
      os: ubuntu-latest
      report_coverage: true

  upload-coverage:
    if: github.event.pull_request.draft == false
    needs: unit-tests
    uses: ./.github/workflows/_upload-coverage.yml
    with:
      os: ubuntu-latest
    secrets: inherit

  call-visual-regression:
    if: github.event.pull_request.draft == false
    needs: call-lint
    uses: ./.github/workflows/_visual-regression.yml

  call-deploy-deno-preview:
    if: github.event.pull_request.draft == false
    needs: [deps-cache]
    uses: ./.github/workflows/_deploy-deno.yml
